<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>マンスリーログの画像を写真に保存するために使用します</string>
	<key>UIAppFonts</key>
	<array>
		<string>LINESeedJP_A_OTF_Rg.otf</string>
		<string>LINESeedJP_A_OTF_Bd.otf</string>
		<string>LINESeedSans_A_Rg.otf</string>
		<string>LINESeedSans_A_Bd.otf</string>
		<string>LINESeedKR-Rg.otf</string>
		<string>LINESeedKR-Bd.otf</string>
		<string>LINESeedTW_OTF_Rg.otf</string>
		<string>LINESeedTW_OTF_Bd.otf</string>
	</array>
</dict>
</plist>
